.div1 {
  margin-left: 70px;
}

.h4 {
  scroll-margin: 80px;

  margin-top: 70px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 600;
  letter-spacing: -0.025em;
}

.p {
  font-size: 15px;
  font-family: sans-serif;
  padding-top: 20px;
  padding-right: 30px;
  line-height: 23px;
}

.div2 {
  margin: 64px;
}

.contact {
  background: #000;
  color: rgb(255 255 255);
  width: 600px;
  padding-top: 10px;
  padding-bottom: 10px;

  padding-left: 15px;
}

.support {
  margin-top: 20px;
  display: flex;
  gap: 15px;
   padding-top: 15px;
 
}

.email {
 gap: 15px;
  padding-top: 15px;
  display: flex;
 
}

.call {
  gap: 15px;
  padding-top: 15px;
  display: flex;
}

@media (max-width: 640px) {
  .contact {
    width: 300px;
  }
  .div2 {
    margin: 32px;
    width: 300px;
  }
  .p {
    font-size: 14px;
  }
  .div1 {
    margin-left: 20px;
  }
}
